{{#> page}}
    {{#*inline "header"}}
        <header class="marloth-header">
            <a href="">
                <img src="/images/marloth.png" alt="Marloth" class="header-image">
            </a>
            <div class="subtitle">A Child's Fairytale World</div>
            <div class="horizontal-line"></div>
        </header>
    {{/inline}}
{{/page}}
