
:root {
    --common-spacing: 20px;
    --off-white: rgb(247, 238, 225);
}


body {
    background: black none repeat scroll 0 0;
    font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
    color: var(--off-white)
}

a:link, a:visited {
    color: #9e9eca;
}

a:hover {
    color: #cda4e4;
}

a.active {
    color: #F5E8D3;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    width: auto;
}

h1 {
    text-align: center;
}

main {
    padding-top: var(--common-spacing);
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
}

narrow {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
}

header {
    width: 650px;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
}

.header-image {
    max-width: 450px;
}

.subtitle {
    letter-spacing: 6px;
    text-transform: uppercase;
}

.horizontal-line {
    background: none repeat scroll 0 0 #B2BBB2;
    display: block;
    height: 1pt;
    margin: 8pt auto;
    width: 100%;
}

menu {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

menu :not(:last-child) {
    margin-bottom: 25px;
}

footer {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15px;
}

footer .horizontal-line {
    width: 300px;
    margin-bottom: 10px;
}

footer img {
    max-width: 110px;
}

article.reading {
    background-color: #fffbf2;
    color: #222;
    padding: 40px;
    line-height: 1.75;
}

article.reading a:link, article.reading a:visited {
    color: #602f84;
}

li:not(:last-child) {
    margin-bottom: 15px;
}
