{{#> page no-footer=true title="Silent Orb" theme="dark"}}
  {{#*inline "header"}}
    {{> image-header src="/images/silentorb-dark.png" alt="Silent Orb" }}
  {{/inline}}

  {{#*inline "content"}}
    <style type="text/css">
      .weird-thing {
        margin-left: -18px;
        max-width: 400px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    </style>
    <img src="/images/weird-thing.jpg" alt="" class="weird-thing"/>
    <menu>
      <a href="/business/tech-company-business-strategy">Tech Company Business Strategy</a>
      <a href="/marloth/books">Marloth Book</a>
      <a href="/marloth/games">Marloth Game</a>
      <a href="https://github.com/silentorb">GitHub</a>
    </menu>
  {{/inline}}
{{/page}}
