{{#> page no-footer="true" title="Silent Orb - ???" theme="dark"}}
  {{#*inline "header"}}
    {{> image-header src="/images/silentorb.png" alt="Silent Orb" href="/" }}
  {{/inline}}

  {{#*inline "content"}}
    <h1>Sorry, there's no page here</h1>
  {{/inline}}
{{/page}}
