<style type="text/css">
  .book-cover {
    float: right;
    width: 200pt;
    margin: 10pt;
  }
</style>

<a target="_blank" href="http://www.amazon.com/Marloth-Childs-Fairytale-Christopher-Johnson/dp/0615484387">
  <img class="book-cover" src="/images/marloth/childs-fairytale-world-cover.jpg"/>
</a>
