<header>
  <a href="{{href}}">
    <img src="{{{src}}}" alt="{{{alt}}}" class="header-image">
  </a>
  {{#if subtitle}}
    <div class="subtitle">{{{subtitle}}}</div>
  {{/if}}
  <div class="horizontal-line"></div>
</header>
