<style type="text/css">
  .image-preview {
    float: right;
    max-width: 480px;
    margin: 10pt;
  }
</style>

<a target="_blank" href="/images/marloth/game/marloth-0.1.jpg">
  <img class="image-preview" src="/images/marloth/game/marloth-0.1-preview.jpg"/>
</a>
