
:root {
    --common-spacing: 20px;
    --off-white: rgb(247, 238, 225);
}

body {
    font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
    caret-color: transparent;
    margin: 0;
    display: flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: stretch;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    width: auto;
}

h1 {
    text-align: center;
}

h2, h3, h4, h5 {
    margin-top: 25px;
    margin-bottom: 16px;
}

main {
    padding: 0 0 30px;
}

narrow {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    padding: 30px;
}

header {
    width: 650px;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
}

.header-image {
    max-width: 450px;
}

.subtitle {
    letter-spacing: 6px;
    text-transform: uppercase;
}

.horizontal-line {
    background: none repeat scroll 0 0 #B2BBB2;
    display: block;
    height: 1pt;
    margin: 8pt auto;
    width: 100%;
}

menu {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

menu :not(:last-child) {
    margin-bottom: 25px;
}

footer {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15px;
}

footer .horizontal-line {
    width: 300px;
    margin-bottom: 10px;
}

footer img {
    max-width: 110px;
}

article {
    line-height: 1.75;
}

article.reading {
    background-color: #fffbf2;
    color: #222;
    padding: 40px;
}

article.reading a:link, article.reading a:visited {
    color: #602f84;
}

li:not(:last-child) {
    margin-bottom: 15px;
}

blockquote {
    padding: 0 15px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title-metadata {
    float: right;
    font-size: small;
    color: gray;
    margin-left: 30px;
}

a:hover.title-metadata {
    color: black;
}

.side-fill {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.side-margin {
    flex-grow: 1;
}

.side-gap {
    flex-grow: 8;
}
