body {
    background: #6a2515 none repeat scroll 0 0;
    color: black;
}

a:link {
    color: #854755;
}

a:visited {
    color: #b0828c;
}

a:hover {
    color: #c74794;
}

a.active {
    color: #d49b40;
}

narrow {
    background: white none repeat scroll 0 0;
}

blockquote {
    border-left: 4px solid #dfe2e5;
    color: #777777;
}

main {
    background: hsl(33deg 18% 78%) none repeat scroll 0 0;
}

main::after {

}

.side-margin {
    background: hsl(33deg 18% 78%) none repeat scroll 0 0;
}
